@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--color);
  border-radius: var(--border-radius);
}

:root {
  --bg-color: #fcfeff;
  --color: #3e73bf;
  --hover: #15417f;
  --font-color: #e8e8e8;
  --border-radius: 10px;
}

.active {
  background-color: var(--hover);
  color: var(--font-color) !important;
}


.output-img img,
.fetch-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.navbar-brand img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.crud,
.dropdown-men.show,
.td-p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  background-color: var(--bg-color);
}
.navbar-brand {
  /* border: 1px solid red; */
  width: 180px;
  height: auto;
}
.slide-link {
  /* border: 1px solid red; */
  width: 100%;
}
.btn-group .dropdown-toggle {
  background-color: transparent;
  padding: 0 !important;
  font-size: 2rem;
  color: var(--color);
  border: 1px solid var(--color);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.dropdown-toggle::after {
  display: none;
}

.btn-secondary:hover {
  color: var(--font-color);
  background-color: var(--hover);
}

.btn-check:focus + .btn-secondary,
.btn-secondary:focus {
  color: var(--font-color);
  background-color: var(--hover);
  box-shadow: none;
}

.nav-link {
  /* border: 1px solid red; */
  font-size: 14px;
  border-radius: var(--border-radius);
  color: var(--color);
  margin-bottom: 10px;
}
.nav-link:hover {
  background-color: var(--hover);
  color: var(--font-color);
}
.slide-link {
  height: 90vh;
  background-color: var(--bg-color);
  border-radius: var(--border-radius);
}
.nav-logout:hover .nav-link {
  background-color: rgb(251, 68, 68);
}
.td-p {
  width: 3rem;
  padding: 14px 0 !important;
}
.button-type {
  /* border: 1px solid red; */
  width: 30%;
}
.crud:hover {
  background-color: transparent;
  color: var(--hover);
}
.dropdown-men {
  padding: 10px;
}
.crud {
  border-radius: 50%;
  font-size: 1rem !important;
}
tbody {
  font-size: 14px;
}
thead {
  font-size: 15px;
  font-weight: 500 !important;
}
.curd-btn button {
  font-size: 1.2rem !important;
  width: 30px !important;
  height: 30px !important;
}


.fetch-img{
  /* border: 1px solid red; */
  width: 90px;
  height: 40px;
}

.submit-btn button,
.button-link a{
  /* border: 1px solid red; */
  margin-bottom: 10px;
  background-color: var(--color);
  color: var(--font-color);
}
.submit-btn button:hover,
.button-link a:hover{
  color: var(--font-color);
  background-color: var(--hover);
}




.form-data{
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.input-flied{
  /* border: 1px solid red; */
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 50%;
  margin-bottom: 1.2rem;
}
.input-flied input{
  width: 97%;
  padding: 10px;
  border-radius: var(--border-radius);
  border: 1px solid var(--color);
}
.input-flied input:focus{
  outline: none;
  box-shadow: 0px 2px 5px -1px var(--hover);
}
.input-flied label{
  margin-bottom: 10px;
  font-size: 1.1rem;
}
.output-img{
  /* border: 1px solid red; */
  border-radius: var(--border-radius);
  height: 50vh;
  box-shadow: 0px 0px 10px -4px gray;
}
.output-img img{
  border-radius: var(--border-radius);
}